.productDiv{
    margin: 15px;
    width: 250px;

    #topo{
        height: 80px;
        width: 200px;
        margin-bottom: 10px;
    }
   
    
}

img:hover{
    background-color: lightskyblue;
}