.containerDiv{
    width: 100%;
    
    padding: 40px;
    
 
}
.productsDiv{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    
}